/* Container for main content */
.content-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
/* Styles for the background image */
.todo-icon {
  max-width: 600px;
  height: auto;
  opacity: 0.6;
}
/* Container for forms and other interactive elements */
.form-container {
  /*  */
}
/* Background styles for the body */
body {
  background-image: url("images/TODO LIST.png");
  background-size: cover;
  background-position: right;
  background-position-x: 25px;
  background-repeat: no-repeat;
}
/* Styles for completed tasks */
.completed {
  background-color: #90ee90;
  text-decoration: line-through;
  color: #707070;
}
